
.na-checkbox-parent {
  float: left;
}

.na-checkbox-parent .form-item {
  margin-bottom: 0;
}

.na-checkbox-wrapper .form-item {
  margin-top: 2.67em;
}

.na-checkbox-wrapper .description {
  margin-top: 0.33em;
}
